.neon-text {
  font-weight: bold;
  text-align: center;
  color: white;
  letter-spacing: 5px;
  text-shadow: 0 0 12px black;
}
.navbar .nav-link {
  color: white;
}
.navbar .nav-link:hover {
  background-color: white;
  color: black !important;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}
@media (max-width: 911px) {
  #search {
    margin-top: 0.5rem;
  }
}
.navbar-toggler {
  border: none;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.text-shadow {
  text-shadow: 0 0 10px black;
}
.about-section {
  position: relative;
  background: url('/asset/Toko.png') center/cover no-repeat;
  overflow: hidden; 
}

.about-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55); /* ubah angka untuk gelap/terang */
}

.about-section * {
  position: relative; /* supaya teks tidak tertutup overlay */
  z-index: 2;
}
/* Default: ukuran normal (untuk HP & tablet) */
.custom-modal {
  max-width: 100%;
}

/* Desktop: modal jadi lebih lebar */
@media (min-width: 992px) {
  .custom-modal {
      max-width: 900px;  /* bisa diganti 800-1200px sesuai kebutuhan */
  }
}
